body {
  padding: 20px;
}

.gallery {
  align-items: center;
  display: flex;
  gap: 10px;
  list-style: none;
}

.gallery__img {
  width: calc(90vw / 3);
  height: 20vw;
  object-fit: cover;
  background-color: ;
  border-radius: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
